:root {
  --border: 1px solid hsl(352, 65%, 22%, 0.2);
  --font-main: "Roboto", sans-serif;

  --clr-primary: #dd2e44;
  --clr-btn-fade: hsl(352, 82%, 85%);
  --clr-btn-hover: hsl(351.8, 65.4%, 37.5%);
  --clr-btn-pressed: hsl(351.9, 64.9%, 22.4%);

  background-color: rgb(252, 252, 252);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  font-family: var(--font-main);
}

nav {
  background-color: white;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  padding: 0.5em 0.25em;
  border: var(--border);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 0 0.75em;
}
.column {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  height: 48px;
  width: 48px;
  background-image: url(images/chirp-icon.svg);
  background-size: cover;
}

form {
  background-color: white;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: var(--border);
}

textarea {
  margin: 0.25em;
  width: 95%;
  font-family: var(--font-main);
  font-size: 1.2rem;
  line-height: 1.5em;
  resize: none;
  overflow: auto;
  min-height: 2em;
  max-height: 350px;
  height: auto;
  border: none;
  border-bottom: var(--border);
}

.limit {
  margin: 0.5em 1em;
  font-weight: 300;
  font-size: 0.9rem;
}

.maxed {
  font-weight: bold;
}

.form-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

button {
  border: none;
  border-bottom-left-radius: 30% 50%;
  border-top-left-radius: 30% 50%;
  border-bottom-right-radius: 30% 50%;
  border-top-right-radius: 30% 50%;
  background-color: var(--clr-btn-fade);
  color: white;
  font-weight: bold;
  font-size: 0.95rem;
  margin: 0.5em 1em;
  padding: 0.75em;
}

.active {
  background-color: var(--clr-primary);
  cursor: pointer;
}

.active:hover,
.active:focus {
  background-color: var(--clr-btn-hover);
}

.active:active {
  background-color: var(--clr-btn-pressed);
}

textarea:focus {
  outline: none;
}

.chirps {
  width: 100%;
  margin-bottom: 2em;
}

.chirps li {
  word-wrap: break-word;
  background-color: white;
  font-size: 0.9rem;
  border: var(--border);
  padding: 1em 2em;
  border-radius: 1.5em 1.5em 1.5em 0;
  margin: 1.25em 0;
  overflow: hidden;
}

.time {
  color: gray;
  font-weight: 300;
  font-size: 0.75rem;
}
.message {
  margin: 1em 0;
}
